h1 {
    font-size: 25px;
}
.celebration-rose {
    float: left;
    width: 25%;
    margin: 30px;
}
.celebration-rose img {
    border-radius: 15px;
    width: 100%;
}
.celebration-content {
    margin: 20px;
    padding-top: 15px;
}
.celebration-name {
    font-style: italic;
}
blockquote {
    font-weight: bold;
}