* {
    box-sizing: border-box;
}

.personal-infor {
    display: inline-block;
    width: 30%;
    border: 1px solid crimson;
    border-radius: 10px;
    margin: 10px;
}

.personal-infor .avatar {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.line-infor:after {
    content: '';
    clear: both;
    display: table;
}

label {
    float: left;
    font-weight: bold;
    margin: 5px;
}