.tube-item{
    width: 28%;
    height: 300px;
    display: inline-block;
    margin: 10px;
}
.tube-item iframe{
    width: 100%;
    height: 70%;
}
.video-thumb {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.video-thumb:hover
{
    opacity: 0.7;
}
.modal {
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 100px;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    height: 60%;
    max-width: 700px;
}
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}